@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
:root{
    --light-red:hsla(0, 100%, 67%,1);
    --light-red-a:hsla(0, 100%, 67%,0.1);
    --orange-yellow:hsl(39,100%,56%);
    --orange-yellow-a:hsla(39,100%,56%,0.1);
    --green-teal:hsl(166,100%,37%);
    --green-teal-a:hsl(166,100%,37%,0.1);
    --cobalt-blue:hsl(234,85%,45%);
    --cobalt-blue-a:hsl(234,85%,45%,0.1);
    --light-state-blue-background:hsl(252,100%,67%);
    --light-royal-blue-background:hsl(241,81%,54%);
    --violet-blue-circle:hsla(256,72%,46%,1);
    --persian-blue-circle:hsla(241,72%,46%,0);
    --white:hsl(0,0%,100%);
    --pale-blue:hsl(221,100%,96%);
    --light-lavender:hsl(241,100%,89%);
    --dark-grey-blue:hsl(224,100%,27%);
    --dark-grey-blue-a:hsla(224,100%,27%,0.5);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:hsl(0, 100%, 97%)
}
.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#result{
    background: linear-gradient(180deg, var(--light-state-blue-background) 0%, var(--light-royal-blue-background) 100%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    border-radius: 10%;
    height: 400px;
    width: 300px;
    z-index: 1;
}
#result_title{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#result_title p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--light-lavender);
    padding-bottom: 15px;
}
#circle{
    background: linear-gradient(180deg, var(--violet-blue-circle) 0%, var(--persian-blue-circle) 100%);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom: 20px;
}
#result_score{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    color: var(--white);
}
#result_percent{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    color: hsla(241,100%,89%,0.5);
}
#result_text{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--white);
}
#result_text2{
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    width: 250px;
}
#result_text2 p{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--light-lavender); 
}
#summary{
    display:flex;
    flex-direction:column;
    align-items:left;
    justify-content:start;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    height: 400px;
    width: 330px;
    background-color: var(--white);
    padding-left: 50px;
    margin-left: -20px;
    z-index: 0;
}
#summary-title{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-grey-blue);
    padding-bottom: 15px;
    text-align: left;
}
.summary-item-reaction{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 250px;
    background-color: var(--light-red-a);
    border-radius: 10px;
    margin-top: 5px;
}
.summary-item_title_react{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--light-red);
}
.summary-item_score_react {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark-grey-blue);
}

.summary-item_score_react span{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
    color: var(--dark-grey-blue-a);
}
.summary-item-memory{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;

    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 250px;
    background-color: var(--orange-yellow-a);
    border-radius: 10px;
    margin-top: 10px;
}
.summary-item_title_memo{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--orange-yellow);
}
.summary-item_score_memo {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark-grey-blue);
}

.summary-item_score_memo span{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
    color: var(--dark-grey-blue-a);
}
.summary-item-verbal{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 250px;
    background-color: var(--green-teal-a);
    border-radius: 10px;
    margin-top: 10px;
}
.summary-item_title_verb{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--green-teal);
}
.summary-item_score_verb {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark-grey-blue);
}

.summary-item_score_verb span{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
    color: var(--dark-grey-blue-a);
}
.summary-item-visual{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    width: 250px;
    background-color: var(--cobalt-blue-a);
    border-radius: 10px;
    margin-top: 10px;
}
.summary-item_title_visu{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--cobalt-blue);
}
.summary-item_score_visu {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--dark-grey-blue);
}

.summary-item_score_visu span{
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
    color: var(--dark-grey-blue-a);
}
.continue{
    margin-top: 25px;
    width: 250px;
    background-color:var(--dark-grey-blue);
    border-radius: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: var(--white);
    text-align: center;
    cursor: pointer;
}
.continue:hover{
    background-color: var(--light-royal-blue-background);
}